In [170]:
import numpy as np
import pandas as pd

In [171]:
df = pd.read_csv("../Collected_cars_table.csv", na_values=None)

In [172]:
df.head(20)

,Марка авто,Модель,COUNTA of Модель,Unnamed: 3,Brand,Model,В работе,Замечания,В доработке,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,ПРОЦЕНТ ГОТОВНОСТИ СЕТА,NaN,92.27,8.1,% Проблемные
1,Total,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Acura,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,MDX,1,NaN,Acura,MDX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Acura Total,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Alfa Romeo,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Giulietta,1,NaN,Alfa Romeo,Giulietta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Alfa Romeo Total,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Audi,NaN,0,NaN,NaN,NaN,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,80,1,NaN,Audi,80,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,100,1,NaN,Audi,100,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,A1,1,NaN,Audi,A1,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,A3,1,NaN,Audi,A3,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,A4,1,NaN,Audi,A4,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,A5,1,NaN,Audi,A5,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,A6,1,NaN,Audi,A6,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,A7,1,NaN,Audi,A7,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,A8,1,NaN,Audi,A8,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Q3,1,NaN,Audi,Q3,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Q5,1,NaN,Audi,Q5,Юля/выгружено на диск,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. Only collected data

In [173]:
# This dataframe includes only downloaded values
collected_cars = df[['Brand', 'Model']].dropna(inplace=False, axis=0, ignore_index=True)
collected_cars.head()

        Brand      Model
0       Acura        MDX
1  Alfa Romeo  Giulietta
2        Audi         80
3        Audi        100
4        Audi         A1

We will save it as an Excel file

In [174]:
collected_cars.to_excel('Collected_Cars.xlsx', index=False)

## 2. Missed cars

In [175]:
# Original columns. We collected the data based on them.
df[['Марка авто', 'Модель']].head(10)

         Марка авто     Модель
0               NaN        NaN
1             Total        NaN
2             Acura        NaN
3               NaN        MDX
4       Acura Total        NaN
5        Alfa Romeo        NaN
6               NaN  Giulietta
7  Alfa Romeo Total        NaN
8              Audi        NaN
9               NaN         80

As we can see, in sourсe columns (first two) brand and model are not located in one row. However, there is a way to deal with that *shift*.
We will use *last_valid_index*

In [176]:
# In this example we select first not None value from the end of sliced dataframe.
df['Model'][df.loc[:8, 'Model'].last_valid_index()]

'Giulietta'

In [177]:
missed_data = []
for index, row in df[['Марка авто', 'Модель', 'Brand', 'Model', 'Замечания']].iterrows():
    problems = row['Замечания']
    brand = row['Марка авто']
    required_model = row['Модель']
    existing_model = row['Model']
    if all(
            [
                not pd.isna(problems),
                not pd.isna(required_model),
                pd.isna(existing_model),
            ]
    ):  # This model wasn't processed for some reason
        brand = df['Brand'][df.loc[:index+1, 'Brand'].last_valid_index()]
        missed_data.append(
                [brand, required_model, problems]
            )
missed_data = pd.DataFrame(missed_data, columns=['Brand', 'Model', 'Problems'])

In [178]:
missed_data

,Brand,Model,Problems
0,Emgrand,END,Нет в XML
1,GAZ,53,Нет в XML
2,GAZ,3307,Нет в XML
3,GAZ,3309,Нет в XML
4,GAZ,172200 Volga,Нет в XML
5,GAZ,1724 Gazel,Нет в XML
6,GAZ,GAZel Biznes GAZon Next,Нет в XML
7,GAZ,Gazel Next,Нет в XML
8,Golden Dragon,Hover,Нет в XML
9,Golden Dragon,Hover H3,Нет в XML
10,Golden Dragon,Hover H5,Нет в XML
11,Honda,Civic Ferio,Нет в XML
12,KamAZ,551,Нет в XML
13,KamAZ,4539,Нет в XML
14,KamAZ,NefAz 4208,Нет в XML
15,KIA,Rio X Line,Нет в XML
16,MAN,Lions Regio,Нет в XML
17,Mazda,Bongo Friendee,Нет в XML
18,Mercedes Benz,405,Нет в XML
19,Mitsubishi,Fuso Fighter,Идентичен Fighter
20,Mitsubishi,Lancer Cedia,Нет в XML
21,Mitsubishi,Outlander XL,Нет в XML
22,Mitsubishi,Pajero iO,Нет в XML
23,Mitsubishi,Pajero Sport,Нет в XML
24,Moskvich,412,Нет в XML
25,Nissan,Maxima QX,Нет в датасете. Идентична модели MAXIMA. Мало ...
26,PAZ,3204,"Нет в XML, мало картинок в интернете, очень по..."
27,Ravon,Nexia,"Нет в XML, в интернете только R3, очень похожи"
28,Renault,Sandero Stepway,Нет в XML. Кузов практически идентичен Sandero...
29,Setra,SX3250 Series,Нет в данных Дмитрия
30,Suzuki,SX4 S Cross,Нет в XML. Кузов идентичен SX4
31,Toyota,bB,Нет в XML
32,Toyota,Camry Solara,Нет в XML
33,Toyota,Corolla Allex Corolla Axio,Нет в XML
34,Toyota,Corolla Runx,Нет в XML
35,Toyota,Corolla Verso,Нет в XML
36,Toyota,Corona Premio,Нет в XML
37,Toyota,Hilux,Нет в XML
38,Toyota,Lite Ace,Нет в XML
39,Toyota,Lite Ace Noah,Нет в XML
40,UAZ,2206,Нет в XML
41,UAZ,3151,Нет в XML
42,UAZ,3962,Нет в XML
43,UAZ,4320,Нет в XML
44,UAZ,39094,Нет в XML
45,UAZ,390995,Нет в XML
46,VAZ_Lada,Kalina Cross,Кузов идентичен kalina. Нет отдельных данных
47,VIS,234700,Идентичен 2347
48,VIS,234900,Индентичен 2349
49,Volkswagen,Golf Plus,Идентичен Golf
50,Volkswagen,Passat Alltrack,Идентичен Passat
51,Volvo,FM,Идентичен FH/FE
52,Volvo,FMX,Идентичен FM
53,Volvo,V40 Cross Country,Идентична V40
54,ZIL,4314,Идентичен 130
55,ZIL,4333,Идентичен 4331
56,ZIL,MMZ 4502,Идентичен 130
57,ZIL,MMZ 4505,Идентичен 130/131
58,ZIL,MMZ 45085,Идентичен 4331
59,ZIL,MMZ 554,Идентичен 130

In [179]:
missed_data.to_excel('Missed_Cars.xlsx', index=False)

## 3. All data together

We select non None values

In [180]:
cropped_df = df[['Марка авто', 'Модель', 'Brand', 'Model', 'Замечания']]
cropped_df

      Марка авто     Модель  Brand Model          Замечания
0            NaN        NaN    NaN   NaN                NaN
1          Total        NaN    NaN   NaN                NaN
2          Acura        NaN    NaN   NaN                NaN
3            NaN        MDX  Acura   MDX                NaN
4    Acura Total        NaN    NaN   NaN                NaN
..           ...        ...    ...   ...                ...
986          NaN   MMZ 4505    NaN   NaN  Идентичен 130/131
987          NaN  MMZ 45085    NaN   NaN     Идентичен 4331
988          NaN    MMZ 554    NaN   NaN      Идентичен 130
989    ZIL Total        NaN    NaN   NaN                NaN
990  Grand Total        NaN    NaN   NaN                NaN

[991 rows x 5 columns]

In [181]:
all_cars = []
cropped_df = df[['Марка авто', 'Модель', 'Brand', 'Model', 'Замечания']]
for index, row in cropped_df.iterrows():
    problems = row['Замечания']
    brand = row['Марка авто']
    required_model = row['Модель']
    existing_model = row['Model']
    if all(
            [
                not pd.isna(problems),
                not pd.isna(required_model),
                pd.isna(existing_model),
                pd.isna(brand),
            ]
    ):  # This model wasn't processed for some reason
        brand = cropped_df['Brand'][cropped_df.loc[:index+1, 'Brand'].last_valid_index()]
        model = required_model
        cropped_df.at[index, 'Brand'] = brand
        cropped_df.at[index, 'Model'] = model

In [182]:
cropped_df

      Марка авто     Модель  Brand      Model          Замечания
0            NaN        NaN    NaN        NaN                NaN
1          Total        NaN    NaN        NaN                NaN
2          Acura        NaN    NaN        NaN                NaN
3            NaN        MDX  Acura        MDX                NaN
4    Acura Total        NaN    NaN        NaN                NaN
..           ...        ...    ...        ...                ...
986          NaN   MMZ 4505    ZIL   MMZ 4505  Идентичен 130/131
987          NaN  MMZ 45085    ZIL  MMZ 45085     Идентичен 4331
988          NaN    MMZ 554    ZIL    MMZ 554      Идентичен 130
989    ZIL Total        NaN    NaN        NaN                NaN
990  Grand Total        NaN    NaN        NaN                NaN

[991 rows x 5 columns]

In [183]:
result = cropped_df[['Brand', 'Model', 'Замечания']].dropna(subset=['Brand', 'Model'],inplace=False, axis=0, ignore_index=True)
result

          Brand        Model          Замечания
0         Acura          MDX                NaN
1    Alfa Romeo    Giulietta                NaN
2          Audi           80                NaN
3          Audi          100                NaN
4          Audi           A1                NaN
..          ...          ...                ...
794         ZIL  5301 Bychok                NaN
795         ZIL     MMZ 4502      Идентичен 130
796         ZIL     MMZ 4505  Идентичен 130/131
797         ZIL    MMZ 45085     Идентичен 4331
798         ZIL      MMZ 554      Идентичен 130

[799 rows x 3 columns]

In [184]:
result.insert(2, 'Status', np.where(result['Замечания'].isna(), result['Замечания'], 'Missed'))

In [185]:
result

          Brand        Model  Status          Замечания
0         Acura          MDX     NaN                NaN
1    Alfa Romeo    Giulietta     NaN                NaN
2          Audi           80     NaN                NaN
3          Audi          100     NaN                NaN
4          Audi           A1     NaN                NaN
..          ...          ...     ...                ...
794         ZIL  5301 Bychok     NaN                NaN
795         ZIL     MMZ 4502  Missed      Идентичен 130
796         ZIL     MMZ 4505  Missed  Идентичен 130/131
797         ZIL    MMZ 45085  Missed     Идентичен 4331
798         ZIL      MMZ 554  Missed      Идентичен 130

[799 rows x 4 columns]

In [186]:
result.to_excel('All_cars_info.xlsx', index=False)